.DS_Store
Thumbs.db

.git/
.gitignore
dockerfile
.dockerignore
**/*.md
.env
!.env.production

node_modules
dist

**/__tests__/
**/tests/
**/test/

**/*.test.ts
**/*.test.tsx

**/*.spec.ts
**/*.spec.tsx

**/*stockfish*
